body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  background-color: linear-gradient(180.62deg, #fcfcfc 2.19%, #eff5fc 99.49%) !important;
  height: 100% !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.custom-input-color {
  input {
    background-color: #fafafa;
    padding: 5px;
  }
}

.responsive-menu {
  position: fixed;
  width: 90%;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: white;
  z-index: 99999;
  border-top-right-radius: 48px;
  border-bottom-right-radius: 48px;
  margin-left: -90%;
  transition: all 0.4s;

  &.add-margin {
    margin-left: 0%;
  }

  .responsive-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
  }

  .responsive-menu-links {
    ul {
      margin: 0px;
      padding: 0px;

      li {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 20px 10px 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #edf3ff;

        .text-link {
          font-size: 18px;
          font-weight: 500;
          display: flex;
          align-items: center;
        }

        .arrowRightButton {
          border: 2px solid #eaeaea;
          padding: 8px 10px 3px;
          border-radius: 5px;
        }
      }
    }
  }
}

.c-pointer {
  cursor: pointer;
}

input:focus {
  outline: 0px !important;
}

.custom-action-link {
  background-color: red;
}

div.icon-btn-wrapper {
  display: flex;
  align-items: center;
}

.search-input-btn {
  color: #fff !important;
  background-color: $primary-color  !important;
  border-radius: $button-radius-72  !important;
  padding: 13px 24px 15px 24px !important;
}

.btn-custom-outline {
  color: $primary-color  !important;
  border: 2px solid $primary-color  !important;
  background-color: inherit !important;

  &.btn-danger {
    color: $danger-color  !important;
  }
}

// header-footer start

.header {
  a {
    color: $text-color-primary;
  }

  .search-input {
    display: inline-block;
    width: 288px;
    border: none;
    background: rgba(0, 0, 0, 0.02);

    button {
      img {
        width: 16px;
        height: 16px;
      }
    }
  }

  .navbar-brand {
    margin-right: 3rem;
  }

  .navbar-right {
    li {
      margin-left: 25px;
      display: flex;
      align-items: center;
      line-height: 0;
    }

    .icon {
      width: 20px;
      height: 20px;
    }
  }

  .navbar-middle {
    a {
      color: $text-color-primary;
      margin-right: 100px;
    }
  }
}

.footer {
  margin-top: 72px;

  .footer-links {
    margin: 32px 0px;

    .socials {
      width: 70%;
    }

    .links {
      width: 100%;
    }

    ul:first-child {}

    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0px !important;

      li {
        span {
          font-size: 14px;
          text-decoration: none;
          line-height: 17px;
          font-weight: 600;
          color: $text-color-primary;
          transition: 0.8s;
          margin-right: 32px;
        }

        a:not(.icons) {
          font-size: 14px;
          text-decoration: none;
          line-height: 17px;
          font-weight: 600;
          color: $text-color-secondary;
          transition: 0.8s;
          margin-right: 32px;
          cursor: pointer;

          &:hover {
            color: $text-color-primary;
          }

          &:active {
            color: $text-color-primary;
          }
        }

        a.icons {
          margin-right: 24px;
        }
      }
    }
  }
}

.notification {
  width: 450px;
  max-width: 450px;
  min-width: 100px;
  margin: 10px 20px 10px;

  .message {
    @include check-all(14px);
  }

  .message-person {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;

    .message-text {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 12px;

      p:first-child {
        @include font-size(15px);
        line-height: 17px;
        font-weight: 600;
        margin-bottom: .25rem;
      }

      p:last-child {
        @include font-size(12px);
        line-height: 15px;
        font-weight: 500;
        color: #7c7c7c;
        margin: 0px;
      }

      ._actions {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        button {
          margin-right: .75rem;
          margin-bottom: .75rem;
        }
      }
    }

    .date {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      p {
        @include font-size(12px);
        color: $text-color-secondary;
      }
    }

    &:hover {
      background: #fcf9f196;
    }
  }
}

// header-footer end

// home banner
.home-banner {
  width: 100%;
  height: 578px;
  background-image: url("/img/Banner1.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;

  .wrapper {
    width: 414px;
    text-align: center;

    span {
      font-size: $font-18;
      font-weight: 600;
      line-height: 22px;
    }

    h1 {
      font-size: $font-48;
      font-weight: bold;
      margin-top: 1rem;
      margin-bottom: 46px;

      img {
        width: 211px;
        height: 78px;
      }
    }

    p {
      font-size: $font-18;
      line-height: 30px;
      padding: 0px 41px;
      margin-bottom: 40px;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        @include button($button-radius-24, $primary-color, 14px, 24px, 14px, 24px);
        color: #fff;
        font-size: $font-16;
        font-weight: 600;
        display: flex;
        align-items: center;
      }
    }
  }
}

// home search
.home-search {
  display: flex;
  justify-content: center;
  margin-bottom: 49px;

  .wrapper {
    width: 874px;

    .search-input {
      border-radius: 72px;
      box-shadow: $box-shadow;
      border: 2px solid #edf3ff;

      input {
        border-radius: 72px;
        padding: 22px 0px 22px 24px;
      }

      button {
        top: 2px !important;
        right: 2px !important;
      }
    }

    .tags {
      margin-top: 16px;
      padding: 0px 24px;

      button {
        @include button($button-radius-24, $primary-color, 9px, 16px, 8px, 16px);
        color: #fff;
        font-size: $font-12;
        font-weight: 600;
        margin-right: 8px;
        border: 1px solid $primary-color;
      }

      button.active {
        background-color: #7486ff33 !important;
        border: none;
      }
    }
  }
}

//card Start up 
.job-card {
  width: 100%;
  min-height: 160px;
  display: flex;
  border-radius: 12px;
  background-color: #fff;
  margin-bottom: 1rem;
  box-shadow: 0px 33px 72px rgba(162, 173, 195, 0.2);
  cursor: pointer;

  .logo-wrapper {
    display: flex;
    justify-content: center;
    width: 30%;
    align-items: center;
    padding: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h2 {
      font-size: 24px;
      font-weight: 700 !important;
      line-height: 30px;
    }
  }

  ._content {
    width: 100%;
    padding: 1rem;
    border-left: 1px solid #EAEAEA;

    ._top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: .75rem;

      ._owner-info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #020C40;
          opacity: 0.5;
          margin-left: .5rem;
          margin-bottom: 0;
        }
      }

      button {
        display: flex;
        align-items: center;
        padding: 0;
      }
    }

    ._body {
      ._card-data {
        margin-bottom: .75rem;

        &:last-child {
          margin-bottom: 0;
        }

        p {
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          color: #020C40;
          margin-bottom: 2px;
        }

        h3 {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #020C40;
          margin: 0;

          a {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #020C40;
          }
        }
      }
    }
  }

  .position {
    border-left: 1px solid #eaeaea;
    padding: 16px;
    width: 70%;

    .person {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          margin: 0px;
          @include font-size(12px);
          font-weight: 500;
          color: $text-color-secondary;
          margin-left: 8px;
        }
      }

      .rs-avatar {
        width: 24px !important;
        height: 24px !important;
      }
    }

    .job-info {
      margin-top: 1px;

      p:first-child {
        @include font-size(12px);
        color: $text-color-primary;
        font-weight: 400;
        margin: 0px;
      }

      p:last-child {
        @include font-size(14px);
        color: $text-color-primary;
        font-weight: 500;
        margin-top: -9px;
        margin-bottom: 0px;
      }
    }
  }
}

.startup-category {
  .startup-sections {
    p {
      @include font-size(24px);
      line-height: 30px;
      font-weight: 600;
    }
  }

  .blur {
    position: relative;
    z-index: 1;
    padding: 0px;

    .login-signup {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      z-index: 2;
      backdrop-filter: blur(5px);

      div {
        margin-top: 16px;
      }

      .login {
        @include font-size(16px);
        font-weight: 600;
        line-height: 20px;
        color: $primary-color;
        text-decoration: none;
      }

      .sign-up {
        @include button($button-radius-72, $primary-color, 13px, 24px, 15px, 24px);
        color: white;
        margin-left: 48px;
        cursor: pointer;
      }

      p {
        text-align: center;
        @include font-size(24px);
        font-weight: 600;
        line-height: 125%;
      }
    }
  }
}

//card week
.startup-week {
  .check-all {
    @include check-all(20px);
  }

  .parent-cards {
    box-shadow: $box-shadow;
    padding: 0px 16px;
    border-radius: 12px;
  }

  .startup-card {
    border-bottom: 1px solid #edf3ff;
    padding: 15px 0px;

    .status-logo {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        span {
          margin-left: 5px;
          @include font-size(12px);
          line-height: 21px;
          font-weight: 600;
        }
      }

      button {
        @include button($button-radius-72, rgba(116, 134, 255, 0.2), 4px, 12px, 5px, 12px);
        @include font-size(12px);
        color: #7489ff;
        line-height: 15px;
      }
    }

    .job-name {
      margin-top: 8px;

      h5 {
        @include font-size(14px);
        line-height: 18px;
        font-weight: 400;
        margin-top: 0px;
        margin-bottom: 4px;
      }

      p {
        @include font-size(12px);
        line-height: 15px;
        font-weight: 400;
        color: #80869f;
        margin: 0px;
      }
    }
  }
}

//card blog

.startup-blog {
  margin-top: 50px;

  .check-all {
    @include check-all(20px);
  }

  .parent-cards {
    box-shadow: $box-shadow;
    padding: 16px;
    border-radius: 12px;

    .startup-card {
      padding: 12px 0px;
      border-bottom: 1px solid #eaeaea;

      .image-blog {
        img {
          width: 100%;
          height: 117px;
          object-fit: cover;
          border-radius: 12px;
        }
      }
    }

    .card-activity {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      div {
        display: flex;
        align-items: baseline;

        button {
          @include button($button-radius-72, rgba(255, 211, 116, 0.2), 4px, 12px, 4px, 12px);
          color: #ffbf35;
          margin-right: 16px;
        }

        p {
          display: flex;
          align-items: center;
          color: #020c40;
          opacity: 0.5;

          span {
            margin-left: 5px;
          }
        }
      }

      p {
        span {
          margin-left: 5px;
        }
      }
    }

    .title-blog {
      margin-top: 12px;

      h5 {
        @include font-size(16px);
        line-height: 170%;
        font-weight: 600;
      }

      p {
        @include font-size(12px);
        line-height: 21px;
        font-weight: normal;
        margin-top: 8px;
        color: $text-color-primary;
      }
    }

    .avatar {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      div {
        padding-left: 8px;

        h6 {
          @include font-size(14px);
          color: #020c40;
          opacity: 0.5;
          font-weight: 500;
          margin-bottom: 0px;
        }

        p {
          @include font-size(12px);
          line-height: 15px;
          color: #020c40;
          opacity: 0.5;
          font-weight: normal;
          margin: 0px;
        }
      }
    }
  }
}

// subscribe
.subscribe {
  margin-bottom: 40px;

  .left-card {
    position: relative;
    background-color: #fff;
    border-radius: $border-radius-20;
    padding: 30px 133px 30px 30px;
    border-left: 24px solid $primary-color;
    background-image: url("/img/postbox.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 95%;
    box-shadow: $box-shadow;

    h3 {
      font-size: $font-24;
      font-weight: 600;
      line-height: 110%;
      margin-bottom: 10px;
    }

    span {
      font-size: $font-14;
      color: $text-color-secondary;
      font-weight: 500;
      line-height: 17px;
    }

    .search-input {
      width: 199px !important;
      border-radius: 12px;
      box-shadow: $box-shadow2;
      overflow: hidden;
      border: none;
      margin-top: 1rem;

      input {
        border-radius: 12px;
        padding: 20px 0px 20px 10px;
      }

      button {
        // top: 2px !important;
        // right: 2px !important;
        color: $primary-color  !important;
        background-color: inherit !important;
      }
    }
  }

  .right-card {
    background-color: #fff;
    border-radius: $border-radius-20;
    // background-image: url("/img/bg_stars.png");
    background-repeat: no-repeat;
    box-shadow: $box-shadow;
    height: 100%;

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;

      h3 {
        font-weight: 600;
        font-size: $font-16;
        line-height: 20px;
        margin-bottom: 1rem;
      }

      button {
        @include button($button-radius-24, $primary-color, 14px, 24px, 14px, 24px);
        color: #fff;
        font-size: $font-16;
        font-weight: 600;
      }
    }
  }
}

// home slider
.pro-slider {
  margin-bottom: 35px;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    h4 {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #020c40;
      margin: 0;
    }

    .view-list {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #2a6fff;
    }
  }

  .slider-wrapper {
    position: relative;

    .btn-left {
      position: absolute;
      top: 35%;
      left: -2.5%;
      z-index: 100;
      background: inherit !important;
    }

    .btn-right {
      position: absolute;
      top: 35%;
      right: -2.5%;
      z-index: 100;
      background: inherit !important;
    }

    .home-swiper {
      width: 95%;
      min-height: 195px;
      padding: 10px;
      border-radius: $border-radius-20;
    }

    .slider-item {
      position: relative;
      background-color: #fff;
      padding: 22px 16px 30px 16px;
      text-align: center;
      box-shadow: $box-shadow3;
      border-radius: 12px;

      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
      }

      h5 {
        font-size: $font-16;
        font-weight: 500;
        line-height: 20px;
        margin-top: 8px;
        margin-bottom: 4px;
      }

      span {
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
      }

      .action-btn {
        position: absolute;
        width: 32px;
        height: 32px;
        right: 0;
        bottom: -16px;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        z-index: 100;
      }
    }
  }
}

// component header
.component-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #020c40;
  }

  .view-all-wrapper {
    display: flex;
    align-items: center;

    button {
      display: flex;
      align-items: center;

      span {
        color: #2a6fff;
        margin-left: 0.5rem;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
      }
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;

      span {
        color: #2a6fff;
        margin-left: 0.5rem;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}

//breadcrumb
.breadcrumb-wrapper {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  .goback-btn {
    display: inherit;
    align-items: inherit;
    margin-right: 40px;

    button {
      padding: 7px;
      line-height: 0;
      background-color: #fff;
      border: 2px solid #eaeaea;
      box-sizing: border-box;
      border-radius: 8px;
      margin-right: 1rem;

      svg {
        width: 23px;
        height: 23px;
        color: #23ce95;
      }
    }

    span {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: rgba(4, 14, 65, 0.5);
    }
  }

  .custom-breadcrumb {
    display: flex;
    align-items: center;

    span {
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: rgba(4, 14, 65, 0.5);
      margin-right: 4px;
    }

    span.active {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: rgba(4, 14, 65, 0.5);
    }

    .breadcrumb-icon {
      svg {
        width: 10px;
        height: 10px;
      }
    }
  }
}

// banner
.banner {
  position: relative;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 52px;
    text-align: center;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // height: 200px;
    background-image: url("/img/Banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.delete-account-wrapper {
  margin-top: 48px;
  margin-bottom: 40px;
  text-align: end;

  .delete-account-btn {
    color: $red  !important;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      img {
        margin-right: 0.5rem;
      }
    }
  }
}

.delete-account-btn {
  color: $red  !important;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    img {
      margin-right: 0.5rem;
    }
  }
}

// devider
.custom-devider {
  height: 1px;
  width: 100%;
  background: #eaeaea;
}

// about us
.about-us {
  .content {
    padding: 2rem 13.75rem;

    h5.title {
      font-weight: 600;
      font-size: 24px;
      line-height: 170%;
    }

    p.content-text {
      font-weight: 500;
      font-size: 14px;
      line-height: 180%;
      margin-bottom: 2rem;
    }

    .case-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      .case-item {
        max-width: 187px;
        margin-bottom: 3rem;

        span {
          display: block;
          font-weight: 500;
          font-size: 14px;
          line-height: 150%;
          color: rgba(2, 12, 64, 0.5);
        }

        h5 {
          font-weight: bold;
          font-size: 32px;
          line-height: 180%;
        }
      }
    }

    .team-members {
      margin-top: 2.5rem;
      margin-bottom: 0.75rem;

      .team-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 2rem;

        .team-item {
          display: flex;
          align-items: center;
          margin-bottom: 2.25rem;

          .details {
            margin-left: 1rem;

            h5._name {
              font-weight: 600;
              font-size: 18px;
              line-height: 24px;
            }

            h5._position {
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              opacity: 0.5;
            }

            h5._username {
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              color: #2a6fff;
              cursor: pointer;
            }
          }
        }
      }
    }

    .testimonial {
      margin-top: 2.5rem;
      margin-bottom: 0.75rem;
    }
  }
}

// pricing page
.app-pricing {
  .banner-top {
    width: 100%;
    min-height: 141px;
    background: #fcf9f1;
    border-radius: 28px;
    padding: 24px 74px;
    margin-bottom: 60px;

    .content {
      background: #fff;
      padding: 32px 205px;

      .title-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        h5 {
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;
          margin-left: 1rem;
          margin-bottom: 0;
        }
      }
    }
  }

  h4.page-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .services {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 7.25rem;

    .service-item {
      padding-top: 2rem;
      max-width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 60px;

      .rs-avatar {
        width: 120px;
        height: 120px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      p {
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #000;
        margin-top: 2rem;
        text-align: center;
      }
    }
  }

  .app-plan-container {
    display: flex;
    justify-content: center;

    // padding: 0 13.5rem;
    .app-plan {
      min-width: 660px;
      min-height: 300px;
      background: #ffffff;
      box-shadow: 0px 33px 72px rgba(162, 173, 195, 0.2);
      border-radius: 28px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      .gradient-wrapper {
        position: relative;

        ._text-container {
          position: absolute;

          ._text-monthly {
            background: linear-gradient(90deg, #0080dc, #00bef6);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          ._text-annualy {
            background: linear-gradient(90deg, #00d7ac, #00bbd9);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }

      .app-plan_top {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 21px;
        margin-bottom: 2.5rem;
        position: relative;
        z-index: 99;

        ._top-left {
          display: flex;
          align-items: center;

          .gradient-wrapper {
            width: 120px;
            height: 29px;
          }

          h4 {
            margin-left: 1rem;
          }
        }

        .custom-switch {
          margin: 0 3rem;

          span.rs-toggle-presentation {
            background: linear-gradient(90deg, #0080dc, #00bef6);
          }

          &.active {
            span.rs-toggle-presentation {
              background: linear-gradient(90deg, #00d7ac, #00bbd9);
            }
          }
        }

        ._top-right {
          display: flex;
          align-items: center;

          .gradient-wrapper {
            width: 120px;
            height: 29px;
          }

          h4 {
            margin-right: 1rem;
          }
        }

        h4.plan-title {
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          opacity: 0.4;
          margin-bottom: 0;

          &.active {
            opacity: 1;
          }
        }
      }

      .app-plan_body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .price {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 2rem;
          min-width: 405px;

          .gradient-wrapper {
            width: 142px;
            height: 20px;
          }

          span {
            &:first-child {
              margin-right: 3.75rem;
            }
          }
        }

        .btn-active-plan {
          border: 1px solid #2a6fff;
          border-radius: 72px;
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          display: flex;
          align-items: center;
          padding: 12px 24px;

          img {
            margin-right: 5px;
          }
        }

        .btn-choose-plan {
          background: #2a6fff;
          border-radius: 72px;
          padding: 12px 24px;
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          display: flex;
          align-items: center;

          img {
            margin-right: 5px;
          }
        }

        &::before {
          content: "";
          position: absolute;
          width: 38px;
          height: 94px;
          top: 10%;
          left: 0;
          background-image: url("/img/price_plan_subtract-left.png");
          background-repeat: no-repeat;
        }

        &::after {
          content: "";
          position: absolute;
          width: 43px;
          height: 85px;
          bottom: 10%;
          right: 0;
          background-image: url("/img/price_plan_subtract-right.png");
          background-repeat: no-repeat;
        }
      }
    }
  }
}

//save-job-icon
.save-job-icon {
  cursor: pointer;
}

//modal
.info-modal {
  ._modal-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    .title {
      padding: 2rem 4rem 1rem 4rem;

      h1 {
        font-weight: bold;
        font-size: 32px;
        line-height: 45px;
        text-align: center;
        margin: 0;
      }
    }
  }

  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #7f7f7f;
    opacity: 0.8;
    margin-bottom: 2rem;

    a {
      margin-left: 0.5rem;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #2a6fff;
    }
  }

  ._hr {
    width: 100%;
    height: 1px;
    background: #eaeaea;
    position: relative;

    span {
      position: absolute;
      display: inline-block;
      width: 4rem;
      background-color: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .form {
    margin-top: 2.5rem;
  }

  ._modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

    button {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #fff;
      background: #2a6fff;
      border: 1px solid #2a6fff;
      border-radius: 72px;
      padding: 12px 24px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      span {
        margin-left: 0.5rem;
      }

      &._cancel-btn {
        color: #2a6fff;
        background-color: #fff;
        box-sizing: border-box;
        border-radius: 72px;
      }
    }
  }

  &._auth {
    ._modal-footer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 1rem 2.75rem 1rem 2.75rem;
      text-align: center;

      button {
        &._login-btn {
          display: block;
          width: 100%;
          background: #2a6fff;
          border-radius: 72px;
          padding-top: 14px;
          padding-bottom: 14px;
          color: #fff;
          margin-bottom: 2rem;
        }
      }

      a {
        display: block;
        width: 100%;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #020c40;
      }
    }
  }
}

.social-auth-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;

  button {
    background: #fff;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    align-items: center;
    margin-right: 1rem;

    &.google {
      border-radius: 62px;
      padding: 12px 24px;
    }

    span {
      margin-left: 0.5rem;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #020c40;
    }
  }
}

.otp-inputs-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  input {
    max-width: 88px;
    margin-right: 17px;
    border-bottom: 2px solid $primary-color;
    border-left: none;
    border-top: none;
    border-right: none;
    padding-left: 35px;
    font-size: 28px;
    font-weight: 600;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}