.teammer,
.owner {
  .teammer-type-banner {
    width: 100%;
    height: 141px;
    border-radius: 28px;
    background-color: #fcf9f1;
    margin-top: 24px;
    padding: 24px 74px;
    .product-div {
      max-width: 100%;
      height: 93px;
      margin: auto;
      border-radius: 12px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: $box-shadow;
      justify-content: sp;
      h3 {
        display: flex;
        align-items: baseline;
        font-size: 24px;
        line-height: 30px;
        font-weight: 600;
      }
    }
  }
  h4 {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .refer {
    height: 105px !important;
    box-shadow: $box-shadow;
    background-color: white;
    border-radius: 12px;
    margin-top: 32px;
    background-image: url("/img/postbox.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    .refer-friend {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      min-width: 70%;
      margin-left: 40px;
      h5 {
        font-size: 16px;
        font-weight: 600;
      }
      button {
        @include button($button-radius-72, transparent, 13px, 24px, 15px, 24px);
        color: $primary-color !important;
        border: 1px solid $primary-color;
        font-weight: 600;
      }
    }
  }
}
.refer-link-h2 {
  font-size: 32px !important;
  text-align: center;
  font-weight: 700;
  margin: 24px 0px;
}
.copy-link {
  font-size: 12px;
  font-weight: 600;
}
.copy-button {
  @include button($button-radius-12, $primary-color, 10px, 14px, 8px, 12px);
  color: white;
  margin-left: 5px;
}

// teammer home

.teammer-home {
  .teammer-home-baner {
    width: 100%;
    height: 305px;
    background-image: url("/img/after_login_banner.png");
    margin-top: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
      font-size: 48px;
      font-weight: 600;
      line-height: 60px;
    }
    h3 {
      font-size: 40px;
      font-weight: 600;
      line-height: 50px;
    }
  }
  h4 {
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    margin: 40px 0px 24px;
  }
}

// teammer profile
.profile-teammer {
  .profile-wrapper {
    display: flex;
    .left-side {
      width: 392px;
      min-width: 392px;
      margin-top: -70px;
    }
    .content {
      width: 100%;
      padding: 1rem 0px 0px 1.5rem;
      .portfolio-wrapper {
        margin-bottom: 3rem;
        h5 {
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          color: $secondary-color;
          margin-bottom: 1.5rem;
        }
        // .resume-card {
        //   background: #ffffff;
        //   box-shadow: 0px 33px 72px rgba(162, 173, 195, 0.2);
        //   border-radius: 12px;
        //   .card-top {
        //     width: 100%;
        //     padding: 1rem;
        //     display: flex;
        //     align-items: center;
        //     justify-content: space-between;
        //     border-bottom: 1px solid #eaeaea;

        //     .resume {
        //       img {
        //         margin-right: 11px;
        //       }
        //       span {
        //         font-weight: normal;
        //         font-size: 14px;
        //         line-height: 17px;
        //       }
        //     }
        //     .view-resume-btn {
        //       border: 2px solid #2a6fff;
        //       border-radius: 8px;
        //       padding: 6px;
        //     }
        //   }
        //   .card-content {
        //     padding: 1rem;
        //     ul {
        //       padding: 0;
        //       margin: 0;
        //       li {
        //         margin-bottom: 0.5rem;
        //         a {
        //           font-weight: normal;
        //           font-size: 14px;
        //           line-height: 17px;
        //           text-decoration-line: underline;
        //           color: $primary-color;
        //         }
        //         &:last-child {
        //           margin-bottom: 0;
        //         }
        //       }
        //     }
        //   }
        // }
      }
      .panel-joined {
        border: none;
        margin-top: 2.5rem;
        .rs-panel-header {
          padding-top: 0;
          padding-left: 0;
          padding-right: 0;
          svg {
            top: 5px;
          }
        }
        .rs-panel-title {
          span {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: $secondary-color;
          }
        }
        .rs-panel-body {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          padding: 0;
          background: #fff;
        }
      }
    }
  }
}
// edit teammer profile
.teammer-profile-edit {
  .profile-wrapper {
    display: flex;
    .left-side {
      width: 300px;
      min-width: 300px;
      margin-top: 204px;
    }
    .content {
      width: 100%;
      padding: 1rem 0px 0px 1.5rem;
      .page-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
        padding: 0px 1rem;
        .profile-title {
          display: flex;
          align-items: center;
          .rs-avatar {
            width: 92px;
            height: 92px;
            margin-right: 1.5rem;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .profile-title-content {
            h4 {
              font-weight: 600;
              font-size: 24px;
              line-height: 29px;
              margin-bottom: 0.75rem;
            }
            span {
              font-weight: 600;
              font-size: 20px;
              line-height: 24px;
              opacity: 0.5;
            }
          }
        }
        .save-btn {
          padding: 13px 24px;
          border-radius: 72px;
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          background-color: $primary-color;
          color: #fff;
        }
      }
      .user-info-wrapper {
        box-shadow: 0px 33px 72px rgba(162, 173, 195, 0.2);
        border-radius: 12px;
        padding: 1rem 0;
        margin-bottom: 1rem;
        width: 100%;
        display: flex;
        .change-avatar-side {
          width: 32%;
          min-width: 32%;
          padding: 1rem;
          border-right: 1px solid #eaeaea;
          text-align: center;
          .side_title {
            text-align: start;
            span {
              font-weight: 500;
              font-size: 20px;
              line-height: 125%;
              display: inline-block;
              margin-bottom: 1rem;
            }
          }
          .rs-avatar {
            width: 124px;
            height: 124px;
            margin-bottom: 1.5rem;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .change-avatar-btn {
            width: 100%;
            padding-top: 13px;
            padding-bottom: 13px;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            border: 1px solid #2a6fff;
            box-sizing: border-box;
            border-radius: 72px;
          }
        }
        .user-info-form-wrapper {
          width: 100%;
          padding: 1rem 1rem 1rem 1.5rem;

          p.form-title {
            font-weight: 500;
            font-size: 20px;
            line-height: 125%;
            margin-bottom: 1rem;
            padding-left: 0.75rem;
            padding-right: 1rem;
          }
        }
        .subscription-active-plan-card {
          ._card-top {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2rem 0;
            border-bottom: 1px solid #eaeaea;

            p._plan {
              font-weight: 500;
              font-size: 20px;
              line-height: 125%;
              margin: 0;
              display: flex;
              align-items: center;
              span {
                font-weight: bold;
                font-size: 20px;
                line-height: 125%;
                margin: 0 0.5rem;
              }
            }
            .unsubcribe-btn {
              color: $primary-color;
              font-weight: 600;
              font-size: 14px;
              line-height: 17px;
              border: none;
            }
          }
          ._card-content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 1rem;
            div {
              p {
                font-weight: bold;
                font-size: 16px;
                line-height: 125%;
                margin-bottom: 0.5rem;
              }
              span {
                font-weight: normal;
                font-size: 14px;
                line-height: 125%;
              }
            }
          }
        }
        ul.blocked-users-list {
          padding: 0;
          margin: 0;
          li {
            padding: 1rem 0;
            border-bottom: 1px solid #eaeaea;
            display: flex;
            align-items: center;
            justify-content: space-between;
            ._user-info {
              display: flex;
              align-items: center;
              .rs-avatar {
                width: 32px;
                height: 32px;
                margin-right: 0.5rem;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
            .unblock-btn {
              color: $primary-color;
              font-weight: 600;
              font-size: 14px;
              line-height: 17px;
              border: none;
            }
            &:last-child {
              border: none;
            }
          }
        }
      }
      .change-plan-title {
        margin-top: 3.75rem;
        margin-bottom: 1rem;
        font-weight: 500;
        font-size: 20px;
        line-height: 125%;
      }
      .subscribe-wrapper {
        min-height: 492px;
        background: #fff;
        // background-image: url("/img/bg_subscribe.png");
        // background-repeat: no-repeat;
        box-shadow: 0px 33px 72px rgba(162, 173, 195, 0.2);
        border-radius: 28px;
        padding: 2rem 7.75rem 2rem 7.75rem;
        .gradient-wrapper {
          position: relative;
          ._text-container {
            position: absolute;
            ._text-monthly {
              background: linear-gradient(90deg, #0080dc, #00bef6);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
            ._text-annualy {
              background: linear-gradient(90deg, #00d7ac, #00bbd9);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
        ._top {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0px 21px;
          margin-bottom: 2.5rem;
          ._top-left {
            display: flex;
            align-items: center;
            .gradient-wrapper {
              width: 120px;
              height: 29px;
            }
            h4 {
              margin-left: 1rem;
            }
          }
          .custom-switch {
            margin: 0 3rem;
            span.rs-toggle-presentation {
              background: linear-gradient(90deg, #0080dc, #00bef6);
            }

            &.active {
              span.rs-toggle-presentation {
                background: linear-gradient(90deg, #00d7ac, #00bbd9);
              }
            }
          }
          ._top-right {
            display: flex;
            align-items: center;
            .gradient-wrapper {
              width: 120px;
              height: 29px;
            }
            h4 {
              margin-right: 1rem;
            }
          }
          h4.plan-title {
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            opacity: 0.4;
            margin-bottom: 0;

            &.active {
              opacity: 1;
            }
          }
        }
        ._body {
          margin-bottom: 30px;
          p.title {
            text-align: center;
            margin-bottom: 1.25rem;
            font-weight: 600;
            font-size: 16px;
            line-height: 125%;
          }
          ul.plan-list {
            margin: 0;
            padding: 0;
            li {
              display: flex;
              align-items: center;
              margin-bottom: 1rem;

              span {
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: #000;
                margin-left: 1rem;
              }
            }
          }
        }
        ._bottom {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          position: relative;
          .price {
            margin-bottom: 2rem;
            &::before {
              content: "";
              position: absolute;
              width: 59px;
              height: 155px;
              top: 0;
              left: 15%;
              background-image: url("/img/Confetti1.png");
              background-repeat: no-repeat;
            }
            &::after {
              content: "";
              position: absolute;
              width: 59px;
              height: 155px;
              top: 0;
              right: 15%;
              background-image: url("/img/Confetti2.png");
              background-repeat: no-repeat;
            }
          }
          .btn-active-plan {
            border: 1px solid #2a6fff;
            border-radius: 72px;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            display: flex;
            align-items: center;
            padding: 12px 24px;

            img {
              margin-right: 5px;
            }
          }
          .btn-choose-plan {
            background: #2a6fff;
            border-radius: 72px;
            padding: 12px 24px;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            display: flex;
            align-items: center;

            img {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}
// profile card teammer
.profile-card-teammer {
  background-color: #fff;
  box-shadow: 0px 33px 72px rgba(162, 173, 195, 0.2);
  border-radius: 12px;
  margin-bottom: 1rem;
  padding: 27px 12px 12px 12px;

  .card-top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    .rs-avatar {
      width: 92px !important;
      height: 92px !important;
      line-height: 92px !important;
      position: absolute;
      top: -75px;
      left: 8px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .icons-wrapper {
      .rs-btn-icon {
        background: transparent !important;
        margin-left: 0.75rem !important;
      }
    }
  }

  .card-content {
    margin-top: 1rem;
    .profile {
      border-bottom: 1px solid #eaeaea;
      h1 {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 0.5rem;
      }
      h3 {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 1rem;
      }
      ._info-wrap {
        display: flex;
        align-items: center;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 1rem;
        img {
          margin-right: 0.5rem;
        }
      }
    }
    .tag-wrapper {
      padding: 1rem 0px 0.75rem 0px;
      border-bottom: 1px solid #eaeaea;
      .custom-tag {
        margin: 0px 0px 0.5rem 0.25rem;
      }
    }
    .bio-wrapper {
      padding: 1rem 0px 1rem 0px;
      font-weight: normal;
      font-size: 14px;
      line-height: 26px;
    }
    .profile-buttons {
      button {
        @include button($button-radius-72, $primary-color, 13px, 24px, 13px, 24px);
        color: white;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}
// work experience card teammer
.work-experience-card-teammer {
  background-color: #fff;
  box-shadow: 0px 33px 72px rgba(162, 173, 195, 0.2);
  border-radius: 12px;
  padding: 16px;
  .card-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4 {
      font-weight: 500;
      font-size: 19px;
      line-height: 125%;
      margin-bottom: 0;
    }
    .add-exp-btn {
      background-color: $primary-color;
      color: #fff;
      padding: 8px;
    }
  }
  ul.experience-wrapper {
    padding: 0;
    margin: 0;
    li {
      position: relative;
      padding: 12px 0px;
      border-bottom: 1px solid #eaeaea;
      span.date {
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        color: $primary-color;
        margin-bottom: 0.5rem;
      }
      h3 {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0.25rem;
      }
      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 0;
        opacity: 0.5;
      }
      .edit-exp-btn {
        position: absolute;
        top: 35%;
        right: 0;
      }

      &:last-child {
        border: none;
      }
    }
  }
}
// edit work experience modal
.work-exp-modal {
  .rs-modal-body {
    .date-wrapper {
      width: 100%;
      display: flex;
      div.wrapper-item {
        width: 50%;
        display: flex;
        .rs-form-group {
          &:first-child {
            margin-right: 1rem !important;
          }
        }
        &:first-child {
          padding-right: 1rem;
        }
        &:last-child {
          padding-left: 1rem;
        }
      }
    }
  }
  .rs-modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn-cancel {
      color: $primary-color;
      border: 1px solid $primary-color;
      border-radius: 72px;
      font-weight: 600;
      font-size: 18px;
      padding: 13px 24px;
    }
    .btn-submit {
      color: #fff;
      background: $primary-color;
      border-radius: 72px;
      border: none;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      padding: 13px 24px;
    }
    &::before {
      content: none;
    }
    &::after {
      content: none;
    }
  }
}
// card teammer cv portfolio links
.resume-card {
  background: #ffffff;
  box-shadow: 0px 33px 72px rgba(162, 173, 195, 0.2);
  border-radius: 12px;
  .card-top {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid #eaeaea;
    p._title {
      font-weight: 500;
      font-size: 20px;
      line-height: 125%;
      margin-bottom: 1rem;
    }
    .resume-wrap {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .resume {
        display: flex;
        align-items: center;
        span {
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          margin-left: 11px;
        }
      }
      .view-resume-btn {
        border: 2px solid #2a6fff;
        border-radius: 8px;
        padding: 6px;
      }
    }
  }
  .card-content {
    padding: 1rem;
    ul {
      padding: 0;
      margin: 0;
      li {
        margin-bottom: 0.5rem;
        a {
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          text-decoration-line: underline;
          color: $primary-color;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .card-bottom {
    padding: 0 1rem 1rem 1rem;
    .add-to-list-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
    }
  }
}
// profile edit navigation
ul.profile-edit-nav {
  padding: 0;
  margin: 0;
  padding-right: 2.75rem;
  li {
    cursor: pointer;
    padding-top: 30px;
    padding-bottom: 30px;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $text-color-primary;

      svg {
        margin-right: 0.75rem;
        width: 24px;
        height: 24px;
        opacity: 0.5;
      }
      span {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        opacity: 0.5;
      }
    }

    &:first-child {
      padding-top: 0;
    }

    &.active {
      a {
        color: $secondary-color;

        svg {
          opacity: 1;
        }
        span {
          color: $secondary-color;
          opacity: 1;
        }
      }
    }

    &:hover {
      a {
        svg {
          color: $secondary-color;
          opacity: 1;
        }
        span {
          color: $secondary-color;
          opacity: 1;
        }
      }
    }
  }
}
